
<h1 mat-dialog-title>EDIT CALCULATION</h1>
<form (ngSubmit)="save()" novalidate #ngForm="ngForm">
    <mat-dialog-content>
        <mat-grid-list cols="1" rowHeight="60px">
            <mat-grid-tile>
                <mat-input-container class="full-width">
                    <input matInput type="text" placeholder="Value" [(ngModel)]="model.calcHistory" name="value" #value>
                </mat-input-container>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-dialog-content>
    <mat-dialog-actions class="float-right">
        <a mat-raised-button color="warn" (click)="delete()">DELETE</a>
        <button mat-raised-button color="primary" type="submit">SAVE</button>
      </mat-dialog-actions>
</form>
