      <mat-card-header>
        
            <button mat-icon-button [routerLink]="['/']" ><mat-icon>arrow_back</mat-icon></button>
            <button mat-icon-button (click)="clear()" class="button-right"><mat-icon>delete</mat-icon></button>

      </mat-card-header>
      <mat-card-content class="content-history" >
        <mat-grid-list cols="1" rowHeight="40px" gutterSize="2">
            <mat-grid-tile [colspan]="1" *ngFor="let item of itemList">
              <mat-list >
                <mat-list-item> 
                  <a matTooltip="Edit" [matTooltipPosition]="position" (click)="openDialogEdit(item)">{{item.calcHistory}}</a>
                 </mat-list-item>
              </mat-list>         
            </mat-grid-tile>                      
        </mat-grid-list>
      </mat-card-content>