<ng-progress [color]="'white'" [thick]="true" [showSpinner]="false"></ng-progress>
<div class="wrapper">
    <div class="container">
        <mat-card class="card">
            <router-outlet></router-outlet>
        </mat-card>
    </div>
</div>