
.wrapper{
    background: linear-gradient(223deg, #db5900, #d200ae);
    background-size: 400% 400%;

    -webkit-animation: gradientBack 20s ease infinite;
    -moz-animation: gradientBack 20s ease infinite;
    animation: gradientBack 20s ease infinite;
    position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: -100px;
	overflow: hidden;
}

.container{
	max-width: 600px;
	margin: 0 auto;
	padding: 0px 0;
	height: 400px;
	text-align: center;
}

.card {
    display: block;
    margin-left: auto;
	margin-right: auto;
    margin-top: 5%;
    padding: 20px 3px 3px 3px;
	max-width: 400px;
	z-index: 2;
	background-color: #ffffff0f;
}

@-webkit-keyframes gradientBack {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-moz-keyframes gradientBack {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@keyframes gradientBack { 
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
