

.big-button{
    height: 120px;
    width: 120px;
    font-size: 35px;
    padding-top: 42px;
    background-color: #ffffff0f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.xn-button{
    height: 120px;
    width: 120px;
    font-size: 35px;
    background-color: #ffffff0f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.input-field {
    width: 100% !important;
    margin-right: 15px!important;
}

.result-screen{
    font-size: 4em!important;
    color: white!important;
    text-align: right!important;
}

.calculation {
    padding-right: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    color: white;
    margin-right: 15px!important;
}

.clear-button{
    height: 120px;
    width: 240px;
    font-size: 35px;
    padding-top: 42px;
    background-color: #ffffff0f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.button-container{
    margin: 2px 2px !important;
}

.button-right{
    margin-left: 280px;
}
.float-right{
    float: right;
}

.content-history{
    margin-top: 15px;
    margin-bottom: 2px;
    max-height: 400px;
    overflow: auto;
}
.content{
    margin-top: 15px;
    margin-bottom: 2px;
}
::ng-deep .mat-grid-tile .mat-figure {
    justify-content: left!important;
}
.full-width{
    width: 100%!important;
}