
      <mat-card-header>
        <mat-form-field class="input-field">
          <input class="result-screen" maxlength="256"  pattern="[0-9-+*/.()]" matInput type="text"  name="result" #result [(ngModel)]="resultValue" readonly>
        </mat-form-field>        
      </mat-card-header>
      <div class="calculation">{{calculation}}</div>
      <mat-card-content class="content">
        <mat-grid-list cols="4" rowHeight="100px" gutterSize="2">
          <mat-grid-tile [colspan]="1">
              <a mat-button [routerLink]="['/history']" class="big-button">M</a>
          </mat-grid-tile> 
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('(')" class="big-button">(</a>

          </mat-grid-tile> 
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress(')')" class="big-button">)</a>

          </mat-grid-tile> 
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="clearButtonPress('')" class="clear-button">{{clearValue}}</a>

          </mat-grid-tile> 
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('7')" class="big-button">7</a>

          </mat-grid-tile> 
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('8')" class="big-button">8</a>

          </mat-grid-tile>  
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('9')" class="big-button">9</a>

          </mat-grid-tile>    
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('/')" class="big-button">÷</a>

          </mat-grid-tile>   
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('4')" class="big-button">4</a>

          </mat-grid-tile>      
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('5')" class="big-button">5</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('6')" class="big-button">6</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('*')" class="big-button">x</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('1')" class="big-button">1</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('2')" class="big-button">2</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('3')" class="big-button">3</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('-')" class="big-button">-</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('0')" class="big-button">0</a>

          </mat-grid-tile>  
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('.')" class="big-button">.</a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('^')" class="xn-button"><p>x<sup>n</sup></p></a>

          </mat-grid-tile>     
          <mat-grid-tile [colspan]="1">
              <a mat-button (click)="btnPress('+')" class="big-button">+</a>

          </mat-grid-tile>                   
        </mat-grid-list>
      </mat-card-content>